{{define "header"}}
<!DOCTYPE html>
<html>
    <head>
        <title>The Brief - {{.Title}}</title>

        {{range .StyleFiles}}
        <link rel="stylesheet" type="text/css" href="/static/{{.}}">
        {{end}}

        {{range .ScriptFiles}}
        <script src="/static/{{.}}"></script>
        {{end}}

    </head>
    <body>
{{end}}